@tailwind base;
@tailwind components;

@tailwind utilities;

/* globals.css */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: var(--main-color);
  --main-color-50: var(--main-color-50);
  --main-color-200: var(--main-color-200);
  --main-color-500: var(--main-color-500);
  --main-color-700: var(--main-color-700);
  --bill: var(--bill);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.scroll-hidden {
  -ms-overflow-style: none; /* IE dan Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


textarea::placeholder {
  color: #9ca3af; /* Tailwind's gray-400 */
  font-size: 10px;
}


